body {
  background-color: rgb(32, 32, 32);
  text-align: center;
}

.container{
  margin-top: 5%;
  background-color: red;
}

.img{
  position: absolute;
  width: 200px;
  margin-top: 50px;
  margin-left: -300px;
}

.temp{
  margin-top: 80px;
  margin-left: -50px;
  position: absolute;
  font-size: 5rem;
  font-weight: 200;
  color: white;
}

.tempmm{
  margin-top: 180px;
  margin-left: -30px;
  position: absolute;
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
}

.input{
  text-align: center;
  color: white;
  margin-top: 90px;
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  padding: 5px;
  font-size: 2rem;
  width: 100px;
  overflow:scroll;
}

.antes{
  color: rgb(182, 182, 182);
  font-size: 1.4rem;
  margin-top: 100px;
  margin-left: -50px;
}
.despues{
  color: rgb(185, 185, 185);
  font-size: 1.4rem;
  margin-top: 100px;
  margin-left: 10px;
}

.input:focus{
  outline: 0;
}